---
layout: page
title: Research
permalink: /research/
icon: fa-pencil-alt
order: 2
---
<p>
My research interests include AI for discovery & social good, Generative modeling, and Optimal transport.
</p>

<div align="left">
{% for r in site.data.research %}
  <h4>{{ r.type }}</h4>
  <ul>
    <font size="4">
    {% for pub in r.content %}
    <li style="margin: 30px 0">
      <b style="font-weight:400">{{ pub.title }}</b>
      <br>
      {% for author in pub.authors %}
        {% if author contains "Yair Schiff" %}<b style="font-weight:600">{{ author }}</b>{% else %}{{ author }}{% endif %}{% if forloop.last %}{% else %},{% endif %}
      {% endfor %}
      {%if pub.author_comments %}({{ pub.author_comments }}){% endif %}
      <br>
      {% if pub.venue %}
        <i>
          {% if pub.venue_url %}
            <a href="{{ pub.venue_url }}" target="_blank">{{ pub.venue }}</a>
          {% else %}
            {{ pub.venue }}
          {% endif %}
          {% if pub.venue_comments %}, {{ pub.venue_comments }}{% endif %}
        </i>
        <!-- &ndash; -->
        <br>
      {% endif %}
      {% if pub.url %}[<a href="{{ pub.url }}" target="_blank">Paper</a>]{% endif %}
      {% if pub.code %}, [<a href="{{ pub.code }}" target="_blank">Code</a>]{% endif %}
      {% if pub.slides %}, [<a href="{{ pub.slides }}" target="_blank">Slides</a>]{% endif %}
      {% if pub.video %}, [<a href="{{ pub.video }}" target="_blank">Video</a>]{% endif %}
    </li>
    {% endfor %}
    </font>
  </ul>
{% endfor %}
</div>
