---
layout: page
title: Research
permalink: /research/
icon: fa-pencil-alt
order: 2
---
<p>
My research interests include AI for discovery & social good, Generative modeling, and Optimal transport.
</p>

<div align="left">
{% for r in site.data.research %}
  <h3>{{ r.type }}</h3>
  <ul>
    {% for pub in r.content %}
    <li style="margin: 30px 0">
      <b>{{ pub.title }}</b>
      <br>
      {% for author in pub.authors %}
        {% if author contains "Yair Schiff" %}
          <b style="font-weight:900">{{ author }}</b>
        {% else %}
          {{ author }}
        {% endif %}
        {% if forloop.last %}
          {%if pub.author_comments %}<font size="-0.5">({{ pub.author_comments }})</font>{% endif %}
        {% else %},
        {% endif %}
      {% endfor %}
      <br>
      {% if pub.venue %}
        <i>
          {% if pub.venue_url %}
            <a href="{{ pub.venue_url }}" target="_blank">{{ pub.venue }}</a>
          {% else %}
            {{ pub.venue }}
          {% endif %}
          {% if pub.venue_comments %}, {{ pub.venue_comments }}{% endif %}
        </i>
        &ndash;
        <!-- <br> -->
      {% endif %}
      {% if pub.url %}[<a href="{{ pub.url }}" target="_blank">Paper</a>]{% endif %}
      {% if pub.code %}, [<a href="{{ pub.code }}" target="_blank">Code</a>]{% endif %}
      {% if pub.slides %}, [<a href="{{ pub.slides }}" target="_blank">Slides</a>]{% endif %}
      {% if pub.video %}, [<a href="{{ pub.video }}" target="_blank">Video</a>]{% endif %}
    </li>
    {% endfor %}
  </ul>
{% endfor %}
</div>
